<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ERP_TEST" connectionString="SERVER=192.168.2.5;DATABASE=ERP_TEST;UID=interojo;PWD=DB@$2022!" />
    <add name="Y_ERP_2" connectionString="SERVER=192.168.2.88,14233;DATABASE=ERP_2;UID=ace;PWD=oJo230906!@#DiBiDa@@" />
    <add name="OJO" connectionString="SERVER=192.168.2.88,14233;DATABASE=OJO;UID=ace;PWD=oJo230906!@#DiBiDa@@" />
    <add name="OJOTEST" connectionString="SERVER=192.168.2.88,14233;DATABASE=OJOTEST;UID=ace;PWD=oJo230906!@#DiBiDa@@" />
    <add name="ERP_2" connectionString="SERVER=192.168.2.5;DATABASE=ERP_2;UID=interojo;PWD=DB@$2022!" />
    <add name="MDB_DATABASE1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Database1.accdb" />
    <add name="MDB_LOT_EXP" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Temp\국내.mdb" />
  </connectionStrings>
  <appSettings>
    <!-- FTP 서버 설정 (IIS FTP) -->
    <add key="FTPHost" value="192.168.2.29" />
    <add key="FTPPort" value="50021" />
    <add key="FTPUser" value="erp_ftp" />
    <add key="FTPPassword" value="Erp1234!" />
    <add key="FTPRemotePath" value="/dlls/" />
    <add key="DLLLocalPath" value="C:\ERP_DLL_Cache\" />
    <!-- 로그 파일 경로 -->
    <add key="logfilePath" value="C:\ERP_Logs\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>